.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.grid {
  flex: 1;
}

.logo {
  display: flex;
  justify-content: center;
  max-width: 80%;
}

.phone {
  justify-content: center;
  display: flex;
}

.disclaimer {
  padding: 2rem;
  font-size: 1.8rem;
  max-width: 80%;
  line-height: 1.4;
  font-weight: 400;
}

.icons {
  padding: 2rem;
}

.icons a {
  margin-right: 2rem;
}

.footer {
  text-align: center;
  line-height: 1.4rem;
}

.footer a:hover {
  text-decoration: underline;
}

.policy {
  line-height: 1.8;
}

.policyContent {
  max-width: 80%;
  padding: 2rem;
  margin-bottom: 1.4rem;
}

.policyContent ul {
  padding-left: 1.6rem;
}

.policyContent p {
  padding-top: 1.4rem;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }
  .content {
    flex-direction: column;
  }
  .phone {
    order: 2;
  }
  .logo,
  .disclaimer {
    max-width: 100%;
  }
  .disclaimer {
    font-size: 1.4rem;
  }
  .icons {
    padding: 0;
    margin-bottom: 2rem;
  }
  .icons a {
    margin-right: 0.5rem;
  }
  .footer {
    padding-top: 2rem;
  }
}
